/*Import font style from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*Set default style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
}

/*Score Area*/
main {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#0d2b52, #174685);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    margin-top: 2rem;
    width: 80%;
    max-width: 800px;
    min-width: 250px;
    border: 2px solid #c7e0f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    border-radius: 20px;
    box-shadow: rgb(84, 157, 240) 2px 10px 10px -10px;
    text-transform: uppercase;
}

.logo {
    margin-left: 10px;
    line-height: 2rem;
    color: #fff;
}

.scoreboard {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-right: 20px;

}

.score-container {
    width: 130px;
    height: 130px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-container p {
    letter-spacing: 1.2px;
}

/*Game area*/
.game-area {
    margin-top: 30px;
    width: 90%;
    max-width: 850px;
    height: 65%;
}


.controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 65%;

}

.btn {
    margin-top: 5px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: rgb(84, 157, 240) 2px 10px 10px -10px;
    transition: all 0.5s ease;
    transform: scale(1);
}

.btn--red {
    border: 6px solid #ad0e08;

}

.btn--red:hover {
    background-color: #8b0000;
    color: white;
    transform: scale(1.1);
}

.btn--blue {
    border: 6px solid #2422a8;
}

.btn--blue:hover {
    background-color: #00008b;
    color: white;
    transform: scale(1.1);
}

.btn--green {
    border: 6px solid #097028;
}

.btn--green:hover {
    background-color: #006400;
    color: white;
    transform: scale(1.1);
}

.btn--black {
    border: 6px solid #242323;
}

.btn--black:hover {
    background-color: #000;
    color: white;
    transform: scale(1.1);
}

.btn--yellow {
    border: 6px solid #d3c60f;
}

.btn--yellow:hover {
    background-color: rgb(207, 152, 13);
    color: white;
    transform: scale(1.1);
}

.btn i {
    font-size: 50px;
}

/*Rules Button*/
.rules-button{
    position: fixed;
    bottom: 20px;
    right:20px;
}

.rulesb{
    height:40px;
    width:80px;
}

.hand-result{
    width:80%;
    height:200px;
    text-transform: uppercase;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.result-message{
    font-size: 1.5rem;
}

/*Rules page hidden until clicked*/
#rules-screen-hidden{
    height:100vh;
    width:100vw;
    z-index:2;
    position:fixed;
    background: rgb(0, 0, 0, 0.5);
    display:none;
    justify-content: center;
    align-items: center;
    
    
}

.game-rules{
    height: 60%;
    width:50%;
    max-width:500px;
    max-height: 600px;
    position:absolute;
    z-index:4;
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #000;
     
}
#close{
    width:100%;
    height:10%;
    display: flex;
    justify-content: flex-end;
    padding:5px 5px 0 0;
    

}
#close i{
    font-size: 30px;
    color:white;
}

.game-rules img{
    height:92%;
    width:100%;

}


@media (max-width: 505px) {
    .score-container {
        height: 85px;
        width: 80px;
    }

    #header {
        height: 180px;
    }

    .score-container p {
        letter-spacing: 1px;
        font-size: 12px;
    }

    .logo {
        font-size: 12px;
        line-height: 1.5rem;
    }

    .game-rules{
        height: 60%;
        width:80%;
    }

    .btn {
        height: 100px;
        width: 100px;
    }
    .game-area{
        height:400px;
    }
    
    .rules-button{
        bottom: 20px;
        left:20px;
    }

    .rulesb{
        height:35px;
        width:60px;
    }
    
}
/*Talets screens and above*/
@media (min-width: 768px) {

    .btn{
        height:155px;
        width:155px;
    }

    .controls{
        gap:7px;
    }

    .result-message{
        font-size: 40px;
    }
    
}